@import "../../style/variables.scss";

.single-char {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 293px 550px auto;
  column-gap: 50px;
  align-items: start;
  &__img {
    width: 236px;
    height: 236px;
    object-fit: cover;
    border-radius: 20%;
  }
  &__name {
    font-weight: bold;
    font-size: 22px;
    line-height: 29px;
    text-transform: uppercase;
  }
  &__descr {
    font-size: 18px;
    line-height: 24px;
    margin-top: 25px;
  }
  &__comics {
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    margin-top: 10px;
  }
  &-list {
    position: relative;
    margin-top: 10px;
  }
  &__back {
    justify-self: end;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    &:hover {
      color: $main-color;
    }
  }
}
